/* Basic style sheet to make the search results readable. */

#header {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-color: white;
  z-index: 2;
  padding: 8px;
}

#content {
  position: relative;
  top: 200px;
  overflow: auto;
  z-index: 1;
  padding: 8px;
}

#resHeading {
  position: relative;
  width: 100%;
  background-color: white;
}

#results {
  position: relative;
  overflow: auto;
}

html, body {
  margin: 0px;
  padding: 0px;
}
